  <% @user.ideas.each do |c| %>
    <h4> <%= c.thought %> </h4>
    <p><small>
      Thought <%= time_ago_in_words(c.created_at) %> ago.
      <% if @user == current_user %>
        <%= render 'shared/rem', obj: c %>
      <% end %>
    </small></p>
  <% end %>