<!-- Require resources and size -->

	<% for resource in resources do %>
	  <% if resource.id %>

  	    <div class = <%="span#{size}" %> ><%= resource.content_html %>
  	    		  <%= render 'inspirations/options', obj: resource %>
          <!--%= render 'shared/rem', obj: resource %-->
  	    </div>
  	  <% end %>
	<% end %>
