<%= form_for @project.comments.build(project_id: @project.id) do |f| %>

<div><%= f.hidden_field :project_id %></div>

 <%= f.text_area :content %>

  <%= f.submit "Post Comment",class: "btn btn-large btn-secondary" %>
<% end %>