<h3>Updates:</h3>
<% for update in @project.updates do %>
  <h5>
    <%= update.content %>  <% if collaborator?(@project) %>
    <%= render 'shared/rem', obj: update %>
                                   <% end %>
  </h5>
  <p><%=  render 'shared/wnt', obj: update %></p>
<% end %>